{% extends 'base.html'%}
{%block title%} My Confirmed Ride Driver {%endblock%}
{%block content%}
  <p> My Confirmed Ride Driver</p>
  <p><a href = "{%url 'mainpage'%}">Home Page</a></p>
  {% if requests.length == 0%}
    <p> You don't have any shit!</p>
  {% else%}
  <p> Here are the requests</p>
  <form method="GET" action="" >
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary" type = "submit">Search</button>
    <br>
  </form>
  {% for object in object_list %}
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Request
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Passenger: <div style="color: gray; float: right; text-align: center;" >{{object.owner}}</div></li>
        <li class="list-group-item">Destination: <div style="color: gray; float: right; text-align: center;" >{{object.address}}</div></li>
        <li class="list-group-item">Arrival Time: <div style="color: gray; float: right; text-align: center;" >{{object.arrival_time}}</div></li>
        <li class="list-group-item">Party Number: <div style="color: gray; float: right; text-align: center;" >{{object.party_number}}</div></li>
        <li class="list-group-item">Required Vehicle: <div style="color: gray; float: right; text-align: center;" >{{object.vehicle_type}}</div></li>
        <li class="list-group-item">Share Ride Status: <div style="color: gray; float: right; text-align: center;" >{{object.sharing_ride}}</div></li>
        <li class="list-group-item">Special Request: <div style="color: gray; float: right; text-align: center;" >{{object.special_request}}</div></li>
        <li class="list-group-item">Confirmed: <div style="color: gray; float: right; text-align: center;" >{{object.confirmed}}</div></li>
        <li class="list-group-item">Complete: <div style="color: gray; float: right; text-align: center;" >{{object.completed}}</div></li>
        <li class="list-group-item">Driver: <div style="color: gray; float: right; text-align: center;" >{{object.driver}}</div></li>

        <button type= "submit" class="btn btn-primary"><a style = "color: white;" href="{%url 'Complete Drive Detail' object.id %}">Complete</a></button>
      </ul>
    </div>
    <br><br><br>
  {% endfor %}
 {% endif %} 
  <p><a href = "{%url 'logout'%}">Log Out</a> </p>
  <br><br><br>
{%endblock%}